#modal{
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
}
#modal.active{
    visibility: visible;
    opacity: 1;
}

#modal #modalContent{
    position: absolute;
    left: calc(50% - 300px);
    width: 600px;
    // background-color: #fff;
    // padding: 1rem;
    margin-bottom: 20px;
    transition-delay: .8s;
    transition: .8s;
    top: -100vh;
}
#modal.active #modalContent{
    top: 85px;
}

#modal #modalContent #modalClose{
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: -50px;
    color: #fff;
    cursor: pointer;
}
#modal{
    overflow: hidden;
    #modal-ini{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        > div{
            width: 100%;
        }
        .buttons{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 25px auto 15px auto;
        }
    }
    button.fechar{
        position: absolute;
        right: 25px;
        top: 20px;
        background: none;
        color: #fff;
        border: none;
        z-index: 9;
    }
    button.fechar:after{
        content: "";
        background: #FFFFFF;
        transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
        height: 2px;
        width: 21px;
        position: absolute;
        right: 0px;
        top: 10px;
    }
    button.fechar:before{
        content: "";
        background: #FFFFFF;
        transform: rotate(45deg);
        height: 2px;
        width: 21px;
        position: absolute;
        right: 0px;
        top: 10px;
    }
}
#loginass{
    background: #00309E;
    text-align: center;
    padding: 50px 0;
    border-radius: 12px;
    button.fechar{
        position: absolute;
        right: 25px;
        top: 20px;
        background: none;
        color: #fff;
        border: none;
        z-index: 9;
        outline: none;
    }
    button.fechar:after{
        content: "";
        background: #FFFFFF;
        transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
        height: 2px;
        width: 21px;
        position: absolute;
        right: 0px;
        top: -35px;
    }
    button.fechar:before{
        content: "";
        background: #FFFFFF;
        transform: rotate(45deg);
        height: 2px;
        width: 21px;
        position: absolute;
        right: 0px;
        top: -35px;
    }
    h2{
        color: #fff;
        margin-bottom: 25px;
    }
    input.uk-input{
        width: 80%;
        margin-bottom: 15px;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
    }
    input.uk-button{
        width: 30%;
        margin-top: 15px;
        padding: 6px 15px;
        border-radius: 10px;
        border: none;
        background: #fff;
    }

}
 