@import '../../Styles/Mixin.scss';

#sobre{
    #banner{
        > img{
            position: absolute;
            top: 0;
            left: calc(50% - 960px);
            width: 100%;
            max-width: 1920px;
            min-width: 1920px;
        }
        .conteudos{
            margin-top: 300px;
            .texts{
                margin-top: 240px;
                padding-right: 45px;
                span{
                    line-height: 120%;
                    color: #006CBF;
                    margin-bottom: 45px;
                    display: block;
                }
                p{
                    line-height: 150%;
                }
            }
            .imgmap{
                position: absolute;
                left: -203px;
                top: -107px;
            }
        }
    }
    #nosso-manifesto{
        margin-top: 60px;
        .box-blue{
            padding: 45px 45px 65px 45px;
            border-radius: 16px;
            span{
                font-size: 40px;
                font-weight: bold;
                display: flex;
                align-items: baseline;
                margin-bottom: 35px;
                position: relative;
                img{
                    margin-right: 20px;
                }
                &:after{
                    content: "";
                    background: #FFFE06;
                    width: 72px;
                    height: 6px;
                    border-radius: 8px;
                    position: absolute;
                    left: 0;
                    bottom: -14px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    #sobre{
        #banner{
            img{
                left: -808px;
            }
            .conteudos{
                .imgmap {
                    position: absolute;
                    left: 0;
                    top: -158px;
                }
                .texts{
                    margin-top: 600px;
                    span{
                       font-size: 47px;
                    }
                    p{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
